<h3>Adicionar novo device</h3>
<form [formGroup]="devicesForm" (ngSubmit)="devicesSubmit()">
  <label for="color">Color</label>
  <input type="text" formControlName="color" maxlength="16"/>

  <label for="categories">Category</label>
  <select type="text" formControlName="category">
    <option disabled selected value></option>
    <option *ngFor = 'let us of readCategories' value="categoria">{{us.name}}</option>
  </select>

  <label for="partNumber">partNumber</label>
  <input type="number" formControlName="partNumber" min="1" step="1"/>

  <button type="submit">Adicionar</button>
</form>
<h2>Devices</h2>
<table>
  <tr>
    <th>Id</th>
    <th>Color</th>
    <th>Category</th>
    <th>partNumber</th>
    <th>Ações</th>
  </tr>
  <tr *ngFor = 'let us of readDevices'>
    <td scope="row">{{us.id}}</td>
    <td>{{us.color}}</td>
    <td>{{us.category}}</td>
    <td>{{us.partNumber}}</td>
    <td><button class="button-delete" type="button" (click)="deleteDevice(us.id)">Deletar</button></td>
  </tr>
</table>
